{% extends '../layout/post.html' %}

{% block head %}
	{% from '../macro/meta.html' import meta %}
	{$ meta('Yakin Pengetahuan Diraih dengan Membaca Buku?', 'Bener nggak sih kalau kita rajin membaca buku, kita jadi pinter?', 'https://i.postimg.cc/q488vwCZ/10-Quotes-for-the-Ultimate-Book-Lover.jpg') $}
{% endblock %}

{% block judul %}
	Yakin Pengetahuan Diraih dengan Membaca Buku?
{% endblock %}

{% block isi %}
	@markdown
		> Buku adalah jendela dunia

		Pasti nggak asing kan dengan quote di atas? Kita sudah sangat sering mendengarnya. Bahkan, sejak kita SD, sudah diminta untuk membaca buku oleh guru kita. Kalau aku sih, budaya membaca buku sudah ditekankan sejak kecil di rumah.

		Tapi, apakah makna dari "jendela" dunia? Bukankah dia hanya "jendela"? Berarti kita nggak bisa melihat keseluruhannya dong?

		Nah itulah inti dari pembahasan kita kali ini. Karena buku itu hanya jendela, berarti yang kita lihat hanyalah sepenggal dari kenyataan yang sebenarnya.

		Misalnya aja aku ambil contoh dari penggalan teks di buku Agar Anak Cinta Al-Quran di halaman 64 (Ats-Tsuwaini, 2015):

		> Mari bersama-sama meraih keuntungan-keuntungan berikut dengan membaca Al-Quran:
		>
		> 1. Mempelajari bahasa Arab
		> 2. Menghindari kesalahan-kesalahan linguistik yang fatal
		> 3. Berkomunikasi secara baik dengan orang lain

		Nah itu dia penggalannya. Jadi, menurut Ats-Tsuwaini, jika kita membaca Al-Quran, maka manfaat yang kita peroleh adalah mempelajari bahasa Arab, menghindari kesalahan linguistik, dan berkomunikasi dengan baik. 

		Tapi, benarkah itu yang kita rasakan? Apakah dengan membaca Quran, kita jadi bisa belajar bahasa Arab? Apakah dengan membaca Quran, kita jadi bisa menghindari kesalahan linguistik yang fatal? Apakah dengan membaca Quran, kita jadi bisa berkomunikasi dengan baik?

		## Daftar Pustaka

		Ats-Tsuwaini, M. F. (2015). _Agar Anak Cinta Al-Quran_. Solo: Mumtaza.
	@endmarkdown
{% endblock %}