{% extends '../layout/post.html' %}

{% block head %}
	{% from '../macro/meta.html' import meta %}
	{$ meta('Ini Makna Ibadah Bagiku', 'Mari sejenak kita maknai rutinitas kita ini', 'https://i.postimg.cc/RFJrCSyK/683e446beaad54541d2a1dc00b99eca7.jpg') $}
{% endblock %}

{% block judul %}
	Ini Makna Ibadah Bagiku
{% endblock %}

{% block isi %}
	@markdown
		Ibadah. Hampir semua orang mengenali kata ini. Hmm... mungkin semuanya mengenalnya. Bahkan yang mengatakan dirinya tidak bertuhan saja seharusnya tau. Tapi, apakah kita pernah berusaha memaknai apa itu ibadah?

		Ibadah bagi sebagian orang merupakan sesuatu yang sangat berat. Sedangkan, bagi orang yang lain, bisa jadi sangat mudah. Apa yang membedakan antara keduanya?

		Apakah waktu luang? Apakah kecukupan harta?

		Seringkali kita mengeluh nggak bisa fokus shalat karena nggak ada AC. Atau, biasanya kita mengeluh nggak bisa berdoa karena semuanya sudah cukup. Tidakkah kita lupa bahwa berdoa itu juga ibadah?

		Jadi, ibadah itu apa? Apakah ibadah itu hanya sekadar cara Tuhan mengisi waktu luang kita? Apakah ibadah itu hanya sekadar cara kita nurut kepada Tuhan?

		Kalau menurutku, ibadah itu adalah **kerja**. Yap, kamu tau kan apa itu kerja? Dengan bekerja, kota bisa menghasilkan produk terbaik, usaha terbaik.

		Jika kita hanya menganggap ibadah sebagai kewajiban, maka kita beribadah hanyaenunaikan kewajiban, seakan nggak ada ruh, esensi, atau semangat dalam melakukannya.

		Dan seringkali, kita tunaikan dengan keluhan.

		Coba kalau kita bayangkan bahwa ibadah itu adalah bekerja. Maka, kita tentu akan senantiasa mengisi waktu kita dengan ibadah. Bangun di pagi hari, segera beribadah. Karena kita nggak mau menyia-nyiakan sedikit aja waktu kita dengan tidak ibadah.

		Bahkan, Allah sendiri yang seakan mengisyaratkan bahwa ibadah adalah bekerja. Tau kan pahala dan dosa, surga dan neraka? Yap, itu kalau di psikologi namanya adalah token ekonomi. Jadinya ya kayak itung-itungan gitu.

		Tapi kan memang gitu.

		> Barang siapa yang mengerjakan kebaikan sesedikit apapun, maka dia akan melihat hasilnya. Barang siapa yang mengerjakan keburukan sesedikit apapun, maka dia akan melihat hasilnya

		Bangun tidur, langsung tahajud, lalu shalat Subuh, dilanjutkan dengan shalat Dhuha. Sok alim? Sok soleh?

		Ingat ya kawan, bahwa yang namanya berbisnis itu "jangan malu". Intinya ya jalan terus, nggak peduli apa kata orang. Apalagi kan, ini adalah bisnis yang sangat besar.

		Jika kita berhasil dengan bisnis ini, kita dapat surga. Siapa coba yang nggak mau.

		Memang ya kita itu, usaha dikit aja nggak mau. Giliran ada yang sukses, kita jatuhin atau kita sanjung-sanjung lalu kita hempaskan. Ya gimana mau maju kan ya?

		Oh iya, hindari juga perdebatan. Kalau kita berdebat, ilmu kita ya mandek aja di situ karena kita berusaha untuk terus mengupgrade ilmu. Tentunya, nggak akan ikut-ikutan orang yang mulai menyerah.

		Apakah kamu ikut menyerah?
	@endmarkdown
{% endblock %}
