{% extends '../layout/post.html' %}

{% block head %}
	{% from '../macro/meta.html' import meta %}
	{$ meta('Template Jualan', 'Template Blogspot yang cocok buat jualan offline', 'https://i.ibb.co/CvLqNdV/Screenshot-from-2021-10-24-21-22-29.png') $}
{% endblock %}

{% block judul %}
	Template Jualan
{% endblock %}

{% block isi %}
	@markdown
		![Tampilannya](https://i.ibb.co/CvLqNdV/Screenshot-from-2021-10-24-21-22-29.png)

		Template ini cocok untuk mencantumkan barang-barang yang ada di toko/warung beserta harga-harganya.

		Untuk konfigurasi, semuanya di Tata Letak Blogspot.

		## Tata Letak

		### Mengatur Tulisan Berjalan

		![Gambarnya untuk mengatur tulisan berjalan di Tata Letak Blogspot](https://i.ibb.co/26rDmWc/Screenshot-from-2021-10-24-22-37-12.png)

		### Header dan Deskripsi

		![Header dan deskripsi](https://i.ibb.co/85FC36M/Screenshot-from-2021-10-24-22-41-17.png)

		### Nomor WA

		![Atur nomor WA](https://i.ibb.co/5KTBVDM/Screenshot-from-2021-10-24-22-44-03.png)

		### List Barang

		Kalau list barang, kita mengaturnya di postingan-postingan.

		![Tampilan dashboard postingan Blogspot](https://i.ibb.co/pbrrDLG/Screenshot-from-2021-10-24-22-47-49.png)

		Sebagaimana gambar di atas, **nama barang** adalah judul postingan, **harga barang** adalah label postingan, **foto barang** adalah gambar di isi postingan.

		> Untuk membeli template ini, silahkan chat WA [0815-4514-3654](https://wa.me/6281545143654). Harga templatenya **30 ribu untuk 3 blog**
	@endmarkdown
{% endblock %}