{% extends './layout/base.html' %}

{% block head %}
	{% from './macro/meta.html' import meta %}
	{$ meta() $}
{% endblock %}

{% block body %}
	<h1 class="judul">Semua Kisah Zen</h1>

	<main class="semua-app" v-cloak @vue:mounted='cekKategori'>
		<ol>
			<li v-for='x in post'>
				<a class="hover:underline" :href="'/post/' + x.slug + '.html'">
					{{ x.judul }}
				</a>
			</li>
		</ol>
	</main>

	<script type="module">
		import post from '/data/post.js'

		PetiteVue.createApp({
			post: post.sort((a, b) => a.judul > b.judul ? 1 : -1),
			cekKategori(){
				if (location.search.includes('?kategori=')) {
					let kategorinya = new URLSearchParams(location.search).get('kategori')
					// console.log(kategorinya)
					this.post = post.reverse().filter(x => x.kategori == kategorinya)
				}
			}		
		}).mount('.semua-app')
	</script>

	<style lang="windi">
		h1 {
			@apply text-center text-3xl text-red-700 py-3 pb-5
		}
		.app .card {
			@apply rounded overflow-hidden border border-gray-300 block
		}
		.app p {
			@apply p-2 text-sm
		}
		.kategori {
			@apply bg-gray-200 rounded px-2 w-min block mt-1;
			font-size: 10px;
		}
		li {
			@apply mb-3 list-decimal ml-5
		}
	</style>
{% endblock %}