<!DOCTYPE html>
<html lang="en">
<head>
	{% include '../import/analytics.html' %}
	{% include '../import/redirect.html' %}
	
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% block head %}{% endblock %}
	<link rel="icon" href="/gambar/icon.jpg" />

	<script src="/lib/vue.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

</head>
<body>
	<section class="isinya">
		<main class="konten">
			{% block body %}{% endblock %}
		</main>
		<nav class="menu">

			<!-- <a href="/" @click.prevent='console.log("Mantap")' class="tampil-menu" v-cloak>
				{% include '../icon/menu.html' %}
			</a>

			<script>
				PetiteVue.createApp({
					
				}).mount('.tampil-menu')
			</script> -->

			<a href="/">
				{% include '../icon/beranda.html' %}
			</a>
			<a href="/tools.html">
				{% include '../icon/tools.html' %}
			</a>
			<a href="/profil.html">
				{% include '../icon/profil.html' %}
			</a>
		</nav>
	</section>

	<style lang="windi">
		body {
			@apply bg-gradient-to-b from-blue-500 to-violet-500
		}
		[v-cloak] {
			@apply hidden
		}
		.isinya {
			@apply bg-white w-full max-w-[800px] mx-auto min-h-screen
		}
		.konten {
			@apply min-h-[calc(100vh-36px)] p-2
		}
		.menu {
			@apply bg-red-500 w-full sticky bottom-0 left-0 flex justify-around
		}
		.menu a {
			@apply text-white p-2 hover:text-red-900;
		}
		.menu a svg {
			@apply text-xl
		}
		.judul {
			font-family: Sacramento, cursive;
		}
		img {
			@apply max-w-full
		}
	</style>
</body>
</html>