{% extends './base.html' %}

{% block body %}
	<h1 class="judul judul-postingan">{% block judul %}{% endblock %}</h1>

	<article class="artikel">
		{% block isi %}{% endblock %}
		{% include '../import/disqus.html' %}
	</article>

	<script>
		document.querySelectorAll('.shiki code .line span:first-child').forEach(x => {
			// console.log(JSON.stringify(x.getAttribute("style")))
			if ((x.innerText == '+' || x.innerText == '-' || x.innerText == '!') && x.getAttribute('style') == 'color: #ECEFF4') {
				x.style.display = 'none'
			}
		})
	</script>

	<style lang="windi">
		.judul-postingan {
			@apply text-center text-red-700 text-3xl py-5 pb-2
		}
		.artikel {
			@apply px-2
		}
		.artikel > p {
			margin: 16px 0;
		}
		.artikel blockquote ol {
			@apply p-2
		}
		pre {
			@apply overflow-auto p-2
		}
		blockquote {
			@apply bg-gray-200 text-sm m-0
		}
		blockquote p {
			@apply p-3 m-0
		}
		img {
			@apply block mx-auto
		}
		.artikel img {
			@apply overflow-hidden rounded-lg border border-gray-200
		}
		.artikel a {
			@apply underline
		}
		.aartikel pre {
			white-space: pre-wrap;       /* css-3 */
			white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
		.artikel :not(pre) > code {
			@apply bg-red-200
		}
		.artikel li {
			@apply ml-5
		}
		.artikel ol li {
			@apply list-decimal
		}
	</style>
{% endblock %}
