{% extends '../layout/base.html' %}

{% block head %}
	{% from '../macro/meta.html' import meta %}
	{$ meta('Rapor ODOP', 'Catatan produktivitas nulis penghuni ODOP', 'https://i.postimg.cc/9f5vvLST/ODOP-with-slogan.jpg') $}
{% endblock %}

{% block body %}
	<h1 class="judul">Rapor ODOP</h1>

	<section class="rapor-odop">
		<section class="tampil">

			<nav class="pilihan-bulan">
				<center>
					<section class="parent-item-bulan" v-for='x in bulan'>
						<section class="item-bulan">{{ x }}</section>
					</section>
				</center>
			</nav>

			<main class="datanya">
				<h2>Desember 2021</h2>
				<table>
					<tbody>
						<tr v-for='x in Array(30)'>
							<td>Arthuria <span class="asal-odop">ODOP 2</span></td>
							<td class="jumlah-kata">1.500 kata</td>
						</tr>
					</tbody>
				</table>
			</main>

		</section>

		<section class="tambah">
			{% include './odop/tambah.html' %}
		</section>
	</section>

	<script>
		PetiteVue.createApp({
			bulan: [
				'Desember 2021',
				'November 2021',
				'Oktober 2021',
				'September 2021',
				'Agustus 2021'
			]
		}).mount('.rapor-odop')
	</script>

	<style lang="windi">
		h1 {
			@apply text-center text-red-700 text-3xl py-2
		}

		.pilihan-bulan {
			@apply text-sm my-3
		}
		.parent-item-bulan {
			@apply inline-block mr-1 mb-1
		}
		.item-bulan {
			@apply bg-gray-200 hover:bg-gray-300 px-2 py-1 cursor-pointer inline-block
		}

		.datanya {
			@apply w-[90%] mx-auto
		}
		h2 {
			@apply font-bold text-lg sticky top-0 left-0 bg-red-500 text-white px-2 py-1
		}
		table {
			@apply w-full
		}
		table td {
			@apply border border-gray-200 px-2 py-1
		}
		tr {
			@apply hover:bg-red-200;
		}
		.asal-odop {
			@apply bg-gray-200 rounded px-2 py-1 ml-3;
			font-size: 10px;
		}
		.jumlah-kata {
			@apply text-right
		}

		.tambah {
			@apply text-4xl text-red-500 cursor-pointer select-none sticky bottom-10
		}
	</style>
{% endblock %}