{% extends '../layout/base.html' %}

{% block head %}
	{% from '../macro/meta.html' import meta %}
	{$ meta('QRCode Generator', 'Generate QR Code dengan mudah', 'https://i.postimg.cc/XqyGLnQc/1f705f24e1949ac2cf24c252e469af8d.jpg') $}
	<script src="/lib/qrcode.min.js"></script>
{% endblock %}

{% block body %}
	<h1 class="judul">QRCode Generator</h1>

	<p>Masukkan teks yang mau diolah jadi QRCode:</p>

	<section class="qr" v-cloak>
		<input type="text" v-model='teks' />

		<button class="button" @click='buat'>Generate</button>

		<section class="hasil mb-3"></section>
		<a :href="kodeGambar" v-if='tombolDownload' :download="'qrcode-' + slug(teks) + '.png'" class="button">Download</a>
	</section>

	<script type="module">
		import slug from '/lib/slug.js'

		PetiteVue.createApp({
			teks: '',
			slug(x){
				return slug(x)
			},
			tombolDownload: false,
			kodeGambar: '',
			buat(){
				this.tombolDownload = false
				let elemenHasil = document.querySelector('.hasil')

				elemenHasil.innerHTML = ''
				new QRCode(elemenHasil, this.teks)

				const dapatkanHasil = () => {
					let elemenGambar = document.querySelector('.hasil img')
					let kodeGambar = elemenGambar.getAttribute('src')
					// console.log(kodeGambar)

					this.kodeGambar = kodeGambar
					this.tombolDownload = true
				}
				setTimeout(dapatkanHasil, 500)
			}
		}).mount('.qr')
	</script>

	<!-- <script>
		new QRCode(document.querySelector(".hasil"), "https://kisahzen.com");
	</script> -->

	<style lang="windi">
		h1 {
			@apply text-center text-red-700 text-3xl py-2
		}
		* {
			@apply focus:!outline-none;
		}
		[type='text'] {
			@apply border border-red-400 w-full px-2 py-1 rounded
		}
		.button {
			@apply text-white bg-red-400 px-2 py-1 rounded focus:bg-red-600 my-2
		}
	</style>
{% endblock %}