{% extends '../layout/base.html' %}

{% block head %}
	{% from '../macro/meta.html' import meta %}
	{$ meta('Tiny URL', 'Singkatin URL dengan Tiny URL', 'https://i.postimg.cc/K8Lgr4mG/Tungsten-Lamp-Inspiration-Small-Icon-Cartoon-Cartoon-Icons-Lamp-Icons-Small-Icons-PNG-and-Vector.jpg') $}
{% endblock %}

{% block body %}
	<h1 class="judul">Tiny URL</h1>

	<main class="app" v-cloak>
		<p>Masukkan URL</p>
		<textarea name="" id="" cols="30" rows="10" placeholder="linkPertama
linkKedua
linkKetiga" v-model='input'></textarea>
		<button @click='olah'>Olah</button>
		<button @click='reset'>Reset</button>
		<p>Hasil ({{ linkJadi }}/{{ semuaLink }})</p>
		<textarea name="" id="" cols="30" rows="10" readonly v-model='output'></textarea>
	</main>

	<script>
		PetiteVue.createApp({
			linkJadi: 0,
			semuaLink: 0,
			input: '',
			output: '',
			reset(){
				this.linkJadi = 0
				this.semuaLink = 0
				this.input = ''
				this.output = ''
			},
			async olah(){
				let linknya = this.input.split('\n').filter(x => x)
				this.semuaLink = linknya.length

				for (let x of linknya){
					let jadi = await fetch(`https://tinyurl.com/api-create.php?url=${x}`)
					jadi = await jadi.text()
					this.output += jadi + '\n'
					if (jadi){
						this.linkJadi++
					}
				}
			}
		}).mount('.app')
	</script>

	<style lang="windi">
		h1 {
			@apply text-center p-2 text-3xl text-red-700
		}
		p {
			@apply pt-2
		}
		textarea {
			@apply border border-red-700 w-full rounded p-2
		}
		button {
			@apply border border-red-700 text-red-700 bg-red-100 hover:(border-red-100 text-red-100 bg-red-700) focus:(border-red-100 text-red-100 bg-red-700) px-3 py-1 rounded
		}
		[readonly] {
			@apply bg-gray-200
		}
	</style>
{% endblock %}